<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Cars for sale</h1>

    <form action="/cars" method="post">
      <label for="makeModel">Add a the make and model:</label>
      <input id="makeModel" name="makeModel" type="text">

      <label for="price">Add the price:</label>
      <input id="price" name="price" type="number">

      <label for="miles">Add the milage:</label>
      <input id="miles" name="miles" type="text" max=2147483647>

      <label for="infoAboutCar">Add information about the car:</label>
      <input id="infoAboutCar" name="infoAboutCar" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
