@using Dealership.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link href="https://fonts.googleapis.com/css?family=Ruge+Boogie|The+Girl+Next+Door" rel="stylesheet">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">
    <h1>Cars for sale</h1>

    <ul>
    @if (Model.Count == 0)
    {
      <p>You have no cars :(!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (Car car in Model)
      {
        <li><a href='/cars/@car.Id'>@car.MakeModel</a></li>
      }
    }
    </ul>

    <a href="/cars/new">List a new car for sale</a>

    <div class="barb">
      <img src="https://media.giphy.com/media/VHwNnBg2IQCYO9tU8h/giphy.gif" alt="Barbie Gif">
    </div>

    </html>
  </body>
