<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Car Details: </h1>

    <h2>@Model.MakeModel</h2>
    <h2>@Model.Price</h2>
    <h2>@Model.Miles</h2>
    <h2>@Model.Info</h2>

    <a href='/cars/new'>Add another item</a>
    <a href='/cars'>View all items</a>

  </body>
</html>
